:root {
  --font-sans: var(--font-peridot-pe-variable);
  --font-mono: var(--font-geist-mono);
  --color-fpe: oklch(0.2 0 0 / 1);
  --color-fpe-border: var(--color-border);
  --color-fpe-foreground: var(--color-white);
  --color-fpe-input-border: oklch(0.32 0 0 / 1);
  --color-fpe-input-foreground: oklch(0.67 0.14 248.77 / 1);
  --color-fpe-amend-border: oklch(0.47 0.11 269.48 / 1);
  --color-fpe-amend-foreground: var(--color-gray-500);
  --color-fpe-conditions-left-bar: var(--color-fpe-input-foreground);
  --color-fpe-conditions-label-foreground: var(--color-neutral-100);
  --color-fpe-conditions-foreground: var(--color-neutral-300);
  --color-fpe-conditions: var(--color-fpe);
  --color-fpe-conditions-border: var(--color-fpe-border);
  --color-hoverable-underline: var(--color-muted-foreground);
  --color-alert-error: var(--color-red-900);
  --color-alert-info: var(--color-blue-900);
  --color-alert-ok: var(--color-green-900);
  --color-alert-tip: var(--color-blue-900);
  --color-alert-warning: var(--color-yellow-500);
}

.dark {
  --color-alert-error: var(--color-red-700);
  --color-alert-info: var(--color-blue-700);
  --color-alert-ok: var(--color-blue-700);
  --color-alert-tip: var(--color-blue-700);
  --primary-foreground: oklch(0.97 0.014 254.604);
}
