.fpe-dialog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr max-content 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "fpe-title        fpe-title        fpe-title        fpe-title        fpe-title        fpe-title        fpe-title        fpe-title        fpe-title        fpe-title        fpe-title        fpe-close"
    ".                fpe-aid-label    fpe-cruiseid-label fpe-bcn-label  fpe-refresh-label fpe-typ-label   fpe-eq-label    fpe-dep-label    fpe-dest-label   fpe-spd-label    fpe-alt-label    fpe-amend"
    ".                fpe-aid-box      fpe-cruiseid-box fpe-bcn-box      .                fpe-typ-box      fpe-eq-box      fpe-dep-box      fpe-dest-box     fpe-spd-box      fpe-alt-box      fpe-amend"
    "fpe-rte-label    fpe-rte-box      fpe-rte-box     fpe-rte-box      fpe-rte-box      fpe-rte-box     fpe-rte-box     fpe-rte-box      fpe-rte-box      fpe-rte-box      fpe-rte-box      fpe-rte-box"
    "fpe-rmk-label    fpe-rmk-box      fpe-rmk-box     fpe-rmk-box      fpe-rmk-box      fpe-rmk-box     fpe-rmk-box     fpe-rmk-box      fpe-rmk-box      fpe-rmk-box      fpe-rmk-box      fpe-rmk-box";
  column-gap: 8px;
}

.fpe-title {
  grid-area: fpe-title;
}

/* Close box */
.fpe-close {
  grid-area: fpe-close;
}

.fpe-amend {
  grid-area: fpe-amend;
}

/* Individual grid-area assignments */
.fpe-aid-label {
  grid-area: fpe-aid-label;
}
.fpe-cruiseid-label {
  grid-area: fpe-cruiseid-label;
}
.fpe-bcn-label {
  grid-area: fpe-bcn-label;
}
.fpe-refresh-label {
  grid-area: fpe-refresh-label;
}
.fpe-typ-label {
  grid-area: fpe-typ-label;
}
.fpe-eq-label {
  grid-area: fpe-eq-label;
}
.fpe-dep-label {
  grid-area: fpe-dep-label;
}
.fpe-dest-label {
  grid-area: fpe-dest-label;
}
.fpe-spd-label {
  grid-area: fpe-spd-label;
}
.fpe-alt-label {
  grid-area: fpe-alt-label;
}
.fpe-amend {
  grid-area: fpe-amend;
}

/* Text box areas */
.fpe-aid-box {
  grid-area: fpe-aid-box;
}
.fpe-cruiseid-box {
  grid-area: fpe-cruiseid-box;
}
.fpe-bcn-box {
  grid-area: fpe-bcn-box;
}
.fpe-typ-box {
  grid-area: fpe-typ-box;
}
.fpe-eq-box {
  grid-area: fpe-eq-box;
}
.fpe-dep-box {
  grid-area: fpe-dep-box;
}
.fpe-dest-box {
  grid-area: fpe-dest-box;
}
.fpe-spd-box {
  grid-area: fpe-spd-box;
}
.fpe-alt-box {
  grid-area: fpe-alt-box;
}

.fpe-rte-label {
  grid-area: fpe-rte-label;
}
.fpe-rte-box {
  grid-area: fpe-rte-box;
}
.fpe-rmk-label {
  grid-area: fpe-rmk-label;
}
.fpe-rmk-box {
  grid-area: fpe-rmk-box;
}
